@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Rubik:wght@500&display=swap');

h1 {
    font-family: Lexend Giga, sans-serif;
}

.field {

    position: relative;
    left: 22px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Lexend Giga, sans-serif;
    background-color: rgba(217, 217, 217, 1); 
    transition: border 0.5s ease;
    color: #000000; 
    font-weight: 400;
  
}

.submit {
    position: relative;
    left: 42px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-size: 16px;
    font-family: Lexend Giga, sans-serif;
    background-color: rgba(217, 217, 217, 1); 
    transition: border 0.3s ease;
    color: black; 
    font-weight: 400;
  
}

.field::placeholder {
    color: black;
}

.submit:hover {
    cursor: pointer;
    border: 1px solid
}

.field:hover{
    cursor: pointer;
    border: 1px solid
}

.task-container {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Adjust this value for spacing */

}
/* Remove the margin for the last task to prevent extra space */
.task-bar:last-child {
    margin-bottom: 0;
}


.task-text {
    font-family: Lexend Giga, sans serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.task-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    background-color: #c4c4c4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon.delete {
    background-image: url('Task-App/tasks/static/images/trash.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon.complete {
    background-image: url('Task-App/tasks/static/images/undone.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon.details {
    background-image: url('Task-App/tasks/static/images/description.png');
    background-repeat: no-repeat;
    background-position: center;
}