{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'tasks_styles/styles.css' %}">
</head>
<body>
    <h1>TASKS</h1>
    <form>
        <input type="text", name="task", placeholder="NEW TASK" class="field">
        <input type="submit" class="submit", value="SUBMIT">
    </form>
    <ul>
        {% for task in tasks %}
            <div class="task_div">{{task}} 
                <button>D</button>
                <button>D</button>
                <button>D</button>
            </div>
        {%endfor%}
    </ul>
</body>
</html>